.register-button {
  background-color: #5330d4; /* verde */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #45a049; /* verde más oscuro */
}


.register-container {
  max-width: 900px;
  margin: 3rem auto;
  padding: 2.5rem;
  background: linear-gradient(to bottom right, #e26e6e, #f0c5c5);
  border-left: 10px solid #e74c3c;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}